
.top{
    background-image: url("/images/danny.jpg");
    background-size: cover;
    background-position: 0px -700px; /*for background danny-lines*/
    color: white;
    opacity: 1;
}

li{
    display: inline;
}

.test{
    padding-top: 280px;
    height: 880px;
}

.pics{
    width: 350px;
}

#bot{
    padding-top: 100px;
    
}

#headingStart{
    font-size: 100px;
}

#textStart{
    font-size: 50px;
}

#buttonStart{
    margin-top: 50px;
    font-size: 25px;
}

.left{
    padding-left: 80px;
}

.linknav{
    color: black;
}

#barCover{
    margin-top: 100px;
    background-image: url("/images/barCover.webp");
    height: 800px;
}

#h2Bars{
    color: white;
    margin-top: 130px;
    margin-bottom: 100px;
    font-size: 80px;
    font-weight: 80px;
}

.articleBars{
    background-color: white;
    opacity: .95;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    height: 280px;
}

.h3Bars{
    padding-top: 20px;
    margin-bottom: 35px;
}

.picBar{
    width: 280px;
}

#cocktailCover{
    margin-top: 100px;
    background-image: url("/images/cocktailCover.jpg");
    background-size: cover;
    height: 820px;
    background-position: 0px -480px;
}

.pics2{
    width: 100px;
}

#containerPeeps{
    padding-top: 100px;
    height: 430px;
    padding-bottom: 100px;
}

#h2Cocktails{
    color: white;
    padding-top: 110px;
    margin-bottom: 100px;
    font-size: 80px;
    font-weight: 80px;
}

.articleCocktails{
    background-color: white;
    opacity: .9;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    height: 350px;
}

.h3Cocktails{
    padding-top: 20px;
    margin-bottom: 35px;
}

.picCocktails{
    width: 240px;
}

#bottom{
    margin-top: 130px;
}

a{
    color: black;
}
